html {
   height: 100%;
}

body {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

body, ul, li, p {
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 1.2rem;
   font-family: sans-serif;
}

a {
   text-decoration: none !important;
   color: #626262;
   font-family: 'globo-regular';
}

a.active {
   color: #00bf75;
}

h1 {
   text-align: center;
   margin-top: 20px;
}

img {
   display: block;
}

.headup{
   background-color: #F8F9FA;
   padding: 0.5%;
   padding-left: 10%;
   display: inline;
   font-size: 1.2rem;
   font-family: sans-serif;
}

.headup ul{
   list-style: none;
}

.headup ul li img{
   display: inline;
   color: #51BE78;
}
.headup ul li {
   display: inline;
   color: #51BE78;
   padding-right: 10px;
}

.headup ul li a{
   display: inline;
   color: #51BE78; 
   padding: 2px 10px;
}

.headup ul li a:hover{
   background-color: #51BE78;
   color: white;

}

.logo{
   margin-top: -5px;
   margin-bottom: -15px;
   height: 50px;
   width: 60px;
}

#logo a:hover{
   background-color: #F8F9FA;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.header img {
   width: 100%;
   max-width: 480px;
}

.fa-chevron-down {
   font-size: 14px;
}

ul li>a:hover {
   color: #00bf75;
   transition: .3s;
}

.menu {
   display: flex;
}

.menu li {
   margin-left: 10px;
}

.menu li a {
   font-size: 16px;
   display: block;
   padding: 10px;
}

.burger {
   display: none;
   cursor: pointer;
}

.burger div {
   width: 35px;
   border-radius: 2px;
   height: 4px;
   background-color:  #00bf75;
   margin: 5px;
}

section {
   position: relative;
   width: 100%;
   height: 400px;
   overflow: hidden;
   background: url('../img/bg.jpg') rgba(6, 31, 64, 0.658) no-repeat center;
   opacity: 0.7;
   background-size: cover;
   background-attachment: fixed;
   background-blend-mode: multiply;
}

.teste {
   position: absolute;
   text-align: center;
   align-items: center;
   left: 50%;
   transform: translateX(-50%);
   margin-top: -280px;
}

.teste>h1 {
   color: white;
   font-family: 'globo-bold';
   font-size: 2rem;
}


.img-section {
   max-width: 100%;
   opacity: 0.5;
}

.conteudo {
   margin: 10px;
   text-align: center;
}

.footer {
   background: #061F40;
   width: 100%;
   text-align: center;
   height: 50px;
   line-height: 50px;
}

.footer>div {
   color: white;
}

.footer>div>p {
   font-family: 'globo-regular';
}

.content {
   flex: 1;
}

main>h1 {
   font-family: 'globo-bold';
   font-size: 24px;
}

main>p {
   font-family: 'globo-light';
}


@font-face {
   font-family: 'globo-regular';
   src: url('fonts/globo-rounded-regular.ttf');
}

@font-face {
   font-family: 'globo-bold';
   src: url('fonts/globo-rounded-bold.ttf');
}

@font-face {
   font-family: 'globo-light';
   src: url('fonts/globo-rounded-light.ttf');
}

@media screen and (max-width: 768px) {
   .menu {
      display: none;
   }

   .header img {
      width: 280px !important;
      max-width: 230px !important;
   }

   .burger {
      display: block;
   }

   section {
      height: 200px;
   }

   .teste {
      margin-top: -175px;
      width: 350px;
   }

   .teste>h1 {
      color: white;
      font-family: 'globo-bold';
      font-size: 1.3rem;
   }

   main>h1 {
      font-size: 1.2rem;
   }
   
}